#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
# CGOS configuration.
#

menu "Congatec CGOS API driver"

config CGOS
	tristate "Congatec CGOS API driver"
	---help---
	  If you want to use the congatec board features you should include
	  
	  If unsure, say Y.

endmenu

