#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
# CGOS configuration.
#

menu "Congatec CGOS API driver"

config CGOS
	tristate "Congatec CGOS API driver"
	---help---
	  If you want to use the congatec board features you should include

	  If unsure, say Y.

config CGOS_I2C
	tristate "cgos-i2c"
	depends on CGOS
	---help---
	  Expose i2c busses provided by CGOS driver.

	  If unsure, say Y.

config CGOS_SBR
	tristate "cgos-sbr"
	depends on CGOS
	---help---
	  Expose robot head id.

	  If unsure, say N.

endmenu
